@keyframes bounce-bot
  from
    opacity: .4
    margin-bottom: 0
  50%
    opacity: 1
    margin-bottom: 10px
  to
    opacity: .4
    margin-bottom: 0

@keyframes bounce-top
  from
    opacity: .4
    margin-top: 0
  50%
    opacity: 1
    margin-top: -10px
  to
    opacity: .4
    margin-top: 0
