@keyframes bounce-bot
  from
    margin-bottom: 0
    opacity: 1
  50%
    margin-bottom: 10px
    opacity: .4
  to
    margin-bottom: 0
    opacity: 1

@keyframes bounce-top
  from
    opacity: .4
    margin-top: 0
  50%
    opacity: 1
    margin-top: -10px
  to
    opacity: .4
    margin-top: 0
