//------------------------------------------------------------------------------
// margin and padding
//------------------------------------------------------------------------------
m(args...)
  margin: args
m-x($mg)
  margin-left: $mg
  margin-right: $mg
m-y($mg)
  margin-top: $mg
  margin-bottom: $mg
p(args...)
  padding: args
p-x($mg)
  padding-left: $mg
  padding-right: $mg
p-y($mg)
  padding-top: $mg
  padding-bottom: $mg
mp(args...)
  margin: args
  padding: args

//------------------------------------------------------------------------------
// border
//------------------------------------------------------------------------------
b-l($w)
  border-style: solid
  border-left-width: $w
b-r($w)
  border-style: solid
  border-right-width: $w
b-top($w)
  border-style: solid
  border-top-width: $w
b-bot($w)
  border-style: solid
  border-bottom-width: $w
b-x($w)
  border-style: solid
  border-left-width: $w
  border-right-width: $w
b-y($w)
  border-style: solid
  border-top-width: $w
  border-bottom-width: $w
b($w)
  border-style: solid
  border-width: $w

//------------------------------------------------------------------------------
// flexbox
//------------------------------------------------------------------------------
fxbx(dir = x, align = center, justify = center)
  // base
  display: flex
  // direction
  if dir == x
    flex-direction: row
  else if dir == y
    flex-direction: column
  else
    flex-direction: dir
  // align
  if align
    align-items: align
  //justify
  if justify
    justify-content: justify

//------------------------------------------------------------------------------
// other abbreviations
//------------------------------------------------------------------------------
fs($s)
  font-size: $s
