//------------------------------------------------------------------------------
// margin and padding
//------------------------------------------------------------------------------
// margin
m(args...)
  margin: args
m-n($val) // north
  margin-top: $val
m-e($val) // east
  margin-right: $val
m-s($val) // south
  margin-bottom: $val
m-w($val) // west
  margin-left: $val
m-x($val) // x plane
  margin-left: $val
  margin-right: $val
m-y($val) // y plane
  margin-top: $val
  margin-bottom: $val

// padding
p(args...)
  padding: args
p-n($val) // north
  padding-top: $val
p-e($val) // east
  padding-right: $val
p-s($val) // south
  padding-bottom: $val
p-w($val) // west
  padding-left: $val
p-x($val) // x plane
  padding-left: $val
  padding-right: $val
p-y($val) // y plane
  padding-top: $val
  padding-bottom: $val

// both
mp(args...)
  margin: args
  padding: args

//------------------------------------------------------------------------------
// border
//------------------------------------------------------------------------------
b(args...)
  border-style: solid
  border-width: args[0]
  border-radius: args[1]
b-n(args...) // north
  border-style: solid
  border-top-width: args[0]
  border-radius: args[1]
b-e(args...) // east
  border-style: solid
  border-right-width: args[0]
  border-radius: args[1]
b-s(args...) // south
  border-style: solid
  border-bottom-width: args[0]
  border-radius: args[1]
b-w(args...) // west
  border-style: solid
  border-left-width: args[0]
  border-radius: args[1]
b-x(args...) // x plane
  border-style: solid
  border-left-width: args[0]
  border-right-width: args[0]
  border-radius: args[1]
b-y(args...) // y plane
  border-style: solid
  border-top-width: args[0]
  border-bottom-width: args[0]
  border-radius: args[1]

//------------------------------------------------------------------------------
// flexbox
//------------------------------------------------------------------------------
fxbx(dir = x, align = center, justify = center)
  // base
  display: flex
  // direction
  if dir == x
    flex-direction: row
  else if dir == y
    flex-direction: column
  else
    flex-direction: dir
  // align
  if align
    align-items: align
  //justify
  if justify
    justify-content: justify

//------------------------------------------------------------------------------
// button
//------------------------------------------------------------------------------
button()
  fxbx()
  text-decoration: none
  background: $c.dg
  height: $smButtonH
  p-w: 20px
  p-e: 10px
  +above($bp)
    height: $buttonH
  &__text
    color: white
  transition: background 0.6s ease
  &:hover
  &:focus
    background: $c.text

//------------------------------------------------------------------------------
// selection
//------------------------------------------------------------------------------
select(shade)
  if shade == dark
    background: $c.dg
    color: white
  if shade == light
    background: white
    color: $c.dg

//------------------------------------------------------------------------------
// other abbreviations
//------------------------------------------------------------------------------
fs($s)
  font-size: $s

//------------------------------------------------------------------------------
// color themes
//------------------------------------------------------------------------------
theme($fg, $bg, $brdr = false)
  color: $fg
  background: $bg
  if $brdr
    border-color: $brdr
  *::selection
    if $fg == white
      select(light)
    else
      select(dark)

//------------------------------------------------------------------------------
// hover effect
//------------------------------------------------------------------------------
icon-hover()
  transition: transform 0.2s ease
  &:hover
  &:focus
    transform: scale(1.4)
