.menu
  height: 100vh
  width: 100vw
  position: fixed
  fxbx(y)
  text-align: center
  opacity: 0
  background: $c.dg

  &__list
    p-y: $gap

  &__item:not(:last-child)
    m-s: $gap
    +above($bp)
      m-s: $gap

  &__link
    text-decoration: none
    color: white

// state (interacts with JS)
//------------------------------------------------------------------------------
.menu
  visibility: hidden
  &--visible
    visibility: visible
