code
  mp: 0 2, 0 5
  white-space: nowrap
  border: 1px solid $darkgray
  background-color: $gray
  border-radius: 3px

pre code
  mp: 0, 0
  white-space: pre
  border: none
  background: transparent
