//------------------------------------------------------------------------------
// text
//------------------------------------------------------------------------------
p, li, span
  color: $c.text

//------------------------------------------------------------------------------
// header
//------------------------------------------------------------------------------
header
  .icons
    &__link
      border-color: white
    &__svg
      fill: white

.scroll-down__svg
  fill: white

.index-banner
  background: $c.prime
  &__title
  &__description
    color: white

.post-banner
  background: $c.prime
  &__title
    color: white

.page-banner
  background: $c.prime
  &__title
    color: white

//------------------------------------------------------------------------------
// index
//------------------------------------------------------------------------------
.index-post
  border-color: $c.lg
  &__title
    color: black
  &__read-button
    color: $c.dg
    border-color: $c.dg
  &__tag
    color: $c.prime
    border-color: $c.prime

//------------------------------------------------------------------------------
// post
//------------------------------------------------------------------------------
.author
  background: $c.lg
  &__title
    color: $c.dg
.hello-button
  color: $c.dg
  border-color: $c.dg

//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
.site-footer
  background: $c.prime
.footer-nav
  &__link
    color: white
  &__item
    border-color: white
