//------------------------------------------------------------------------------
// text
//------------------------------------------------------------------------------
p, li, span
  color $text

//------------------------------------------------------------------------------
// header
//------------------------------------------------------------------------------
header
  .icons
    &__link
      border-color: white
    &__svg
      fill: white

.scroll-down__svg
  fill: white

.index-banner
  background: $primary
  &__title
  &__description
    color: white

.post-banner
  background: $primary
  &__title
    color: white

//------------------------------------------------------------------------------
// post
//------------------------------------------------------------------------------
.author
  background: $lightgray
  &__title
    color: $darkgray

//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
footer
  background $primary
