//------------------------------------------------------------------------------
// config
//------------------------------------------------------------------------------
$c = {
  prime: #B11111, // primary
  acc: #fff,      // accent
  lg: #eee,       // light gray
  gray: #aaa,     // gray
  dg: #555,       // dark gray
  text: #222
}
$c[primeHover] = darken($c.prime, 50%)

//------------------------------------------------------------------------------
// text
//------------------------------------------------------------------------------
p, li, span
  color: $c.text

pre
  background: $c.text
  code
  code *
    color: $c.lg

//------------------------------------------------------------------------------
// header
//------------------------------------------------------------------------------
.menu-open__svg
  fill: white

header
  .icons
    &__link
      border-color: white
    &__svg
      fill: white

.scroll-down__svg
  fill: white

.index-banner
  background: $c.prime
  &__title
  &__description
    color: white

.post-banner
  background: $c.prime
  &__title
    color: white

.page-banner
  background: $c.prime
  &__title
    color: white

//------------------------------------------------------------------------------
// index
//------------------------------------------------------------------------------
.index-post
  border-color: $c.lg
  &__title
    color: black
  &__read-button
    color: $c.dg
    border-color: $c.dg
  &__tag
    color: $c.prime
    border-color: $c.prime

//------------------------------------------------------------------------------
// post
//------------------------------------------------------------------------------
.author
  background: $c.lg
  &__title
    color: $c.dg
.hello-button
  color: $c.dg
  border-color: $c.dg

//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
.site-footer
  background: $c.prime
  color: white
  &__divider
    border-color: darken($c.prime, 40%)
  &__info-svg
    fill: white
.footer-nav
  &__link
    color: white
  &__item
    border-color: white

//------------------------------------------------------------------------------
// syntax highlighting
//------------------------------------------------------------------------------
/* Tomorrow Night Bright Theme */

.hljs
.hljs *
  color: #eaeaea

/* Tomorrow Comment */
.hljs-comment
.hljs-quote
  color: #969896

/* Tomorrow Red */
.hljs-variable
.hljs-template-variable
.hljs-tag
.hljs-name
.hljs-selector-id
.hljs-selector-class
.hljs-regexp
.hljs-deletion
  color: #d54e53

/* Tomorrow Orange */
.hljs-number
.hljs-built_in
.hljs-literal
.hljs-type
.hljs-params
.hljs-meta
.hljs-link
  color: #e78c45

/* Tomorrow Yellow */
.hljs-attribute
  color: #e7c547

/* Tomorrow Green */
.hljs-string
.hljs-symbol
.hljs-bullet
.hljs-addition
  color: #b9ca4a

/* Tomorrow Blue */
.hljs-title
.hljs-section
  color: #7aa6da

/* Tomorrow Purple */
.hljs-keyword
.hljs-selector-tag
  color: #c397d8
