{$h}
  opensans(bold)
  line-height: 1

a,p,type,div,span
  opensans()
  font-size: 16px
  line-height: 1.8
  +above($bp)
    font-size: 20px

p
  max-width: $linewrap

.index-banner
  &__title
    font-size: 50px
  &__description
    font-size: 30px
  +above($bp)
    &__title
      font-size: 100px
    &__description
      font-size: 60px

.post-banner__title
  font-size: 80px

.author
  &__title
    font-size: 26px
  &__name
    opensans(bold)
    font-size: 40px
