//------------------------------------------------------------------------------
// font families
//------------------------------------------------------------------------------

// default
//------------------------------------------------------------------------------
{$text}
  font()

// bold
//------------------------------------------------------------------------------
.index-post__read-button
.index-post__tag
.hello-button
.footer-nav__link
{$h}
  font(bold)

// fixed
//------------------------------------------------------------------------------
code
  font(fixed)


//------------------------------------------------------------------------------
// font sizes
//------------------------------------------------------------------------------
{$text}
  fs: 18px
  +above($bp)
    fs: 20px

// index
//------------------------------------------------------------------------------
.index-banner
  &__title
    fs: 50px
    +above($bp)
      fs: 100px
  &__description
    fs: 30px
    +above($bp)
      fs: 60px
.index-post
  &__title
    fs: 30px
  &__read-button
  &__tag
    fs: 16px

// post
//------------------------------------------------------------------------------
.post-banner__title
  fs: 80px
.author
  &__title
    fs: 26px
  &__name
    opensans(bold)
    fs: 40px
.hello-button
  fs: 16px

// footer
//------------------------------------------------------------------------------
.footer-nav__link
  fs: 26px

//------------------------------------------------------------------------------
// line-height
//------------------------------------------------------------------------------
{$h}
  line-height: 1

p
  line-height: 1.8

.index-post__tag
  line-height: 2.5

//------------------------------------------------------------------------------
// other
//------------------------------------------------------------------------------
{$h}
  font-weight: normal

p
  max-width: $linewrap
