{$h}
  opensans(bold)
  font-weight: normal
  line-height: 1

{$text}
  opensans()

p
  max-width: $linewrap
  line-height: 1.8

//------------------------------------------------------------------------------
// font sizes
//------------------------------------------------------------------------------
{$text}
  fs: 16px
  +above($bp)
    fs: 20px

// index
.index-banner
  &__title
    fs: 50px
    +above($bp)
      fs: 100px
  &__description
    fs: 30px
    +above($bp)
      fs: 60px
.index-post__title
  fs: 30px

// post
.post-banner__title
  fs: 80px
.author
  &__title
    fs: 26px
  &__name
    opensans(bold)
    fs: 40px
