// colors
$primary        = #B11111
$primary--hover = darken($primary, 50%)
$accent         = #FFFFFF
$gray           = #F2F2F2
$text           = #333333
$code           = #3085F4

// breakpoints
$bp = 37.5rem
