.post-banner
  background: $primary
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__content
    max-width: 80%

  &__title
    font-size: 80px
    color: white

  // &__content
