$bp = 760px
$linewrap = 900px
$gap = 40px
$gap2 = round($gap / 2)
$gap4 = round($gap / 4)

// nav toggle
//------------------------------------------------------------------------------
$toggleW = 48px
$toggleWSm = 30px
$togglePos = 25px
$togglePosSm = 10px
$toggleH = round($toggleW / 6)
$toggleHSm = round($toggleWSm / 6)

// topbar
//------------------------------------------------------------------------------
$topbarH = $toggleW - $toggleH + $togglePos * 2
$topbarHSm = $toggleWSm - $toggleHSm + $togglePosSm * 2


// colors
//------------------------------------------------------------------------------
$c = {
  prime: #B11111, // primary
  acc: #fff,      // accent
  lg: #eee,       // light gray
  gray: #aaa,     // gray
  dg: #555,       // dark gray
  text: #222
}
$c[primeHover] = darken($c.prime, 50%)
