//------------------------------------------------------------------------------
// colors
//------------------------------------------------------------------------------
$primary   = #B11111
$accent    = #fff
$lightgray = #eee
$gray      = #aaa
$darkgray  = #555
$text      = #222
$code      = #3085F4

// derivatives
$primary--hover = darken($primary, 50%)

//------------------------------------------------------------------------------
// layout
//------------------------------------------------------------------------------
$bp = 760px
$linewrap = 900px
$gap = 40px

// derivatives
$gap--sm = round((3/4 * $gap))
