//------------------------------------------------------------------------------
// colors
//------------------------------------------------------------------------------
$c = {
  prime: #B11111, // primary
  acc: #fff,      // accent
  lg: #eee,       // light gray
  gray: #aaa,     // gray
  dg: #555,       // dark gray
  text: #222
}
$c[primeHover] = darken($c.prime, 50%)

//------------------------------------------------------------------------------
// layout
//------------------------------------------------------------------------------
$bp = 760px
$linewrap = 900px
$gap = 40px

// derivatives
$gap--sm = round((3/4 * $gap))
