*, *:before, *:after
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

article, aside, header, footer, menu, nav, section
  display: block

img
  max-width: 100%

a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

a, a:active, a:hover
  outline: 0

ul, ol
  list-style: inside
