.index-banner
  background: $primary

  &__content
    width: 100%
    align(vertical)

  // &__title

  // &__description

  // &__icons

  &__icon-link
    display: inline-block
    border-radius: 50%
    mp: 4, 10
    border: 3px solid white

  &__icon-svg
    fill: white
    size(30px, 30px)

  +above($bp)
    &__icon-link
      mp: 5, 12
      border-width: 4px
    &__icon-svg
      size(40px,40px)
