.index-banner
  background: $primary
  text-align: center

  &__content
    align(both)

  // &__title

  // &__description

  // &__icons

  &__icon-link
    display: inline-block
    padding: 10px
    margin: 4px
    border-radius: 50%
    border: 4px solid white

  &__icon-svg
    fill: white
    size(40px,40px)
