.index-banner
  background: $primary

  &__content
    width: 100%
    align(vertical)

  // &__title

  // &__description

  // &__icons

  &__icon-link
    display: inline-block
    border-radius: 50%
    padding: 10px
    margin: 4px
    border: 4px solid white

  &__icon-svg
    fill: white
    size(30px, 30px)

  +above($bp)
    &__icon-link
      padding: 10px
      margin: 4px
      border-radius: 50%
      border: 4px solid white
    &__icon-svg
      size(40px,40px)
