section.author
  img.author__img(src='/img/author.png', alt='picture of author')
  .author__info
    span.author__title Author
    a.author__name= data.author.name
    a.hello-button(href!= data.author.email) say hello
