.post
  p-y $gap
  fxbx(y)

  p,ul,ol,{$h},iframe
    margin-bottom: ($gap / 2)
    padding: 0 8%
    width: 92%
    max-width: $linewrap
    +above($bp)
      padding: 0 10%
      width: 90%

  pre
    width: 100%
