.author
  fxbx(y)
  p-y: $gap
  text-align: center
  +above($bp)
    flex-direction: row
    text-align: left

  &__img
    size: 200px
    +below($bp)
      margin-bottom: ($gap / 2 )

  &__title
  &__name
    display: block
    line-height: 1

  &__name
    padding-bottom: ($gap / 2)
