.index-banner
  background: $primary
  fxbx(y)

  &__title
  &__description
    color: white

  &__title
    font-size: 50px

  &__description
    padding: $gap 0
    font-size: 30px

  +above($bp)
    &__title
      font-size: 100px
    &__description
      font-size: 60px
