.banner
  height: 100vh
  fxbx(y)
  text-align: center

  &__content
    max-width: 80%

  &__title
    p-y: $gap2
    +above($bp)
      p-y: $gap

  &__img
    width: 75%
    max-width: 600px
    max-height: 50vh
    object-fit: contain
