.site-footer
  fxbx(y)
  p: ($gap / 2) 5%

  &__divider
    width: 60%
    b-n: 3px
    m-y: ($gap / 2)
    +above($bp)
      width: 40%

  &__info-link
    display: block

  &__info-svg
    display: block
    size: 30px
    +above($bp)
      size: 40px

.footer-nav
  &__list
    text-align: center

  &__item
    display: block
    +above($bp)
      display: inline
      &:not(:last-child)
        p-e: ($gap / 4)
        b-e: 3px
        m-e: ($gap / 4)

  &__link
    text-decoration: none
