.site-footer
  width: 100%
  background: $c.prime
  color: white

  &__content
    fxbx(y)
    p-y: $gap2

  &__divider
    b-n: 3px
    border-color: darken($c.prime, 40%)
    m-y: $gap2
    width: 40%
    max-width: 400px

  &__info-svg
    fill: white
    display: block
    size: 30px
    +above($bp)
      size: 40px

  *::selection
    select(light)

.footer-nav
  &__list
    text-align: center
    list-style: none

  &__item
    display: block
    +above($bp)
      float: left
      line-height: 1
      display: inline
      &:not(:last-child)
        p-e: ($gap / 4)
        b-e: 3px
        border-color: white
        m-e: ($gap / 4)

  &__link
    text-decoration: none
    color: white
