.site-footer
  fxbx(y)

.footer-nav
  p: ($gap / 2) 5%

  &__list
    text-align: center

  &__item
    display: block
    +above($bp)
      display: inline
      &:not(:last-child)
        p-e: ($gap / 4)
        b-e: 3px
        m-e: ($gap / 4)

  &__link
    text-decoration: none
