.icons
  fxbx()

  &__icon:not(:last-child)
    m-e: 10px
    +above($bp)
      m-e: 16px

  &__link
    display: block
    p: 8px
    b: 3px
    +above($bp)
      p: 10px
      b: 4px

  &__svg
    display: block
    size: 25px
    +above($bp)
      size: 50px
