.icons

  &__icon
    display: inline-block

  &__link
    display: block
    mp: 8px
    border: 3px solid

  &__svg
    display: block
    size: 25px

  +above($bp)
    &__link
      mp: 10px
      border-width: 4px
    &__svg
      size: 50px
