.index-posts
  fxbx(y)

.index-post
  p: $gap2 5%
  &:not(:last-child)
    b-s: 3px
    border-color: $c.lg
  +above($bp)
    p: $gap

  &__title
  &__date
  &__preview
    m-s: ($gap / 2)

  &__title
    display: inline-block
    text-decoration: none
    color: black

  &__read-button
    display: inline-block
    text-decoration: none
    color: $c.dg
    border-color: $c.dg
    b: 2px 5px
    p-x: 8px

  &__tags
    list-style: none

  &__tag
    display: inline
    b: 3px 5px
    p: 3px 8px
    m-w: 8px
    color: $c.prime
    border-color: $c.prime
