.scroll-down
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  animation: bounce-bot 1.3s ease-in-out infinite
  size: 60px
  +above($bp)
    size: 100px

  &__svg
    fill: white
    size: inherit
