.topbar
  fxbx(y)
  text-align: center
  background: $c.prime
  color: white
  min-height: $topbarHSm
  +above($bp)
    min-height: $topbarH

  &__content
    max-width: 80%

  *::selection
    background: white
    color: $c.dg
