.index-posts
  fxbx(y)

.index-post
  p: $gap2 5%
  &:not(:last-child)
    b-s: 3px
  +above($bp)
    p: $gap

  &__title
  &__date
  &__preview
    m-s: ($gap / 2)

  &__title
    display: inline-block
    text-decoration: none

  &__read-button
    display: inline-block
    text-decoration: none
    b: 2px 5px
    p-x: 8px

  &__tag
    b: 3px 5px
    p: 3px 8px
    m-w: 8px
