.index-post
  width: 100%
  b-bot(3px)
  fxbx()

  &__content
    padding: $gap
    display: flex
    flex-direction: row-reverse
    +below($bp)
      flex-direction: column-reverse

  &__date
    display: flex
    flex-direction: column
    justify-content: center
    +below($bp)
      padding-top: $gap
    +above($bp)
      padding-left: $gap

  &__date-link
    text-decoration: none

  &__text
    max-width: 700px // magic

  &__title
    display: inline-block
    text-decoration: none
    margin-bottom: ($gap / 2)
