.index-post
  width: 100%
  b-bot(3px)

  &__content
    padding: $gap
    fxbx(column-reverse, flex-start)
    +above($bp)
      flex-direction: row-reverse
      align-items: center

  &__date-link
    text-decoration: none

  &__text
  &__title
  &__preview
    margin-bottom: ($gap / 2)

  &__text
    max-width: 700px // magic
    +above($bp)
      margin-bottom: 0
      margin-right: $gap

  &__title
    display: inline-block
    text-decoration: none

  &__tag
    b: 1px 5px
    p: 3px 8px
    &:not(:last-child)
      margin-right: 4px
