.author
  theme($c.text, $c.lg)
  fxbx(y)
  p-y: $gap
  +above($bp)
    flex-direction: row

  &__img
    width: 200px
    +below($bp)
      m-s: $gap2
    +above($bp)
      m-e: $gap

  &__info
    fxbx(y)
    +above($bp)
      align-items: flex-start

  &__title
  &__name
    display: block
    line-height: 1

  &__title
    color: $c.dg

  &__name
    m-s: $gap2

  &__hello-button
    button()

    &__svg
      fill: white
      height: 20px
      width: 40px
      m-y: auto
      +above($bp)
        height: 25px
        width: 45px
