.author
  theme($c.text, $c.lg)
  fxbx(y)
  p-y: $gap
  text-align: center
  +above($bp)
    flex-direction: row
    text-align: left

  &__img
    size: 200px
    +below($bp)
      m-s: $gap2

  &__title
  &__name
    display: block
    line-height: 1

  &__title
    color: $c.dg

  &__name
    m-s: $gap2

  &__hello-button
    color: $c.dg
    border-color: $c.dg
    text-decoration: none
    b: 3px 5px
    p: 3px 8px
