$magic = 3px
code
  theme(#222, #eee, #aaa)
  m-x: $magic
  p-x: ($magic * 2)
  b: 1px $magic
  white-space: nowrap

// reset
pre code
  m: 0
  p: 0
  white-space: pre
  border: none
  background: transparent
