$magic = 3px
code
  m-x: $magic
  p-x: ($magic * 2)
  b: 1px $magic
  white-space: nowrap
  background-color: #eee
  border-color: #aaa
  color: #222

// reset
pre code
  m: 0
  p: 0
  white-space: pre
  border: none
  background: transparent
