.post
  theme($c.text, #fff, $c.gray)
  m-x: 8%
  fxbx(y)
  p-y: $gap
  &:not(:last-child)
    b-s: 3px
  +above($bp)
    align-items: flex-start

  &__title
  &__date
  &__preview
    m-s: $gap2

  &__title
    text-decoration: none
    color: black

  // tags
  //----------------------------------------------------------------------------
  &__tags
    list-style: none
    +below($bp)
      margin-bottom: $gap2

  &__tag
    display: inline-block
    padding-left: 10px
    padding-right: 10px
    background: $c.gray
    color: white
    m-e: 5px
    line-height: $smButtonH
    +above($bp)
      line-height: $buttonH

  // read button
  //----------------------------------------------------------------------------
  &__read-button
    button()

    &__svg
      fill: white
      size: 25px
      +above($bp)
        size: 30px
