.post
  theme($c.text, #fff, $c.gray)
  m-x: 5%
  p-y: $gap2
  &:not(:last-child)
    b-s: 3px
  +above($bp)
    p-y: $gap

  &__title
  &__date
  &__preview
  &__read-button
    m-s: $gap2

  &__title
    display: inline-block
    text-decoration: none
    color: black

  &__read-button
    display: inline-block
    text-decoration: none
    color: $c.dg
    border-color: $c.dg
    b: 2px 5px
    p-x: 8px

  &__tags
    list-style: none

  &__tag
    display: inline
    p: 5px 10px
    background: $c.gray
    color: white
    &:not(:last-child)
      m-e: 5px
