.banner
  theme(white, $c.prime)
  height: 100vh
  fxbx(y)
  text-align: center

  &__content
    max-width: 80%

  &__title
    text-shadow: 5px 5px $c.primeDark

  &__title
  &__meta
    m-s: $gap2
    +above($bp)
      m-s: $gap

  &__subtitles
    +above($bp)
      fxbx(x)

  &__subtitle:first-of-type
    +above($bp)
      p-e: 0.5em

  &__date
  &__dash
  &__ert
  &__tag
    color: white

  &__tags
    list-style: none
    display: block

  &__tag
    display: inline
    &:not(:last-child)
      &:after
        content: ', '
