.menu
  theme(white, $c.dg)
  height: 100vh
  width: 100vw
  position: fixed
  fxbx(y)
  text-align: center
  opacity: 0

  &__list
    p-y: $gap
    list-style: none

  &__item
    display: block
    &:not(:last-child)
      m-s: $gap2
      +above($bp)
        m-s: $gap

  &__link
    display: inline-block
    p: $gap2 $gap
    text-decoration: none
    color: white
    transition: background 0.7s ease
    &:hover
    &:focus
      background: $c.text
