.menu
  theme(white, $c.dg)
  height: 100vh
  width: 100vw
  position: fixed
  fxbx(y)
  text-align: center
  opacity: 0

  &__list
    p-y: $gap
    list-style: none

  &__item:not(:last-child)
    m-s: $gap
    +above($bp)
      m-s: $gap

  &__link
    text-decoration: none
    color: white
