.scroll-down
  position: absolute
  animation: bounce-bot 1.3s ease-in-out infinite
  bottom: 0
  left: 50%
  transform: translateX(-50%)

  &__link
    display: block
    size: 60px
    +above($bp)
      size: 100px
    transition: transform 0.2s ease
    &:hover
    &:focus
      transform: scale(1.5)

  &__svg
    fill: white
    size: inherit
