<ul class="icons">
  <li class="icons__icon">
    <a class="icons__link" aria-label="My Github" href="https://github.com/{{site.github_username}}">
      <svg class="icons__svg">
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  <li class="icons__icon">
    <a class="icons__link" aria-label="Email me" href="mailto:{{site.email}}">
      <svg class="icons__svg">
        <use xlink:href="#icon-email"></use>
      </svg>
    </a>
  </li>
  <li class="icons__icon">
    <a class="icons__link" aria-label="Subscribe via RSS" href="/feed.xml">
      <svg class="icons__svg">
        <use xlink:href="#icon-rss"></use>
      </svg>
    </a>
  </li>
</ul>
