{% for post in site.posts %}
<article class="index-post" role="article">
  <div class="index-post__content">
    <div class="index-post__date">
      <a class="index-post__date-link" href="{{post.url}}">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%m/%d/%Y" }}
        </time>
      </a>
    </div>
    <div class="index-post__text">
      <a class="index-post__title" href="{{post.url}}">
        <h3>{{post.title}}</h3>
      </a>
      <p class="index-post__preview">
        {{ post.content | strip_html | truncatewords:40 }}
        <a class="index-post__link" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      </p>
      <div class="index-post__tags">
      {% for tag in post.tags %}
        <span class="index-post__tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
</article>
{% endfor %}
