// margin and padding shorthand
mp($mg, $pd)
  for $val, i in $mg
    if i == 0
      $mgPx = unit($val, px)
    else
      push($mgPx, unit($val, px))
  for $val, i in $pd
    if i == 0
      $pdPx = unit($val, px)
    else
      push($pdPx, unit($val, px))
  margin: $mgPx
  padding: $pdPx

// flexbox shorthand
fxbx(dir = x, align = center, justify = center)
  // base
  display: flex

  // direction
  if dir == x
    flex-direction: row
  else if dir == y
    flex-direction: column
  else
    flex-direction: dir

  // align
  if align
    align-items: align

  //justify
  if justify
    justify-content: justify
