doctype html
html(lang='en-us')
  head
    include /partials/head/head
    block head
  body.body.has-banner
    include /partials/nav
    header.banner(role='banner')
      .banner__content
        block banner
      a.scroll-down(href='#scroll-down-target', role='button', data-scroll)
        svg.scroll-down__svg(viewBox='0 0 658 1024')
          path(d='M614.286 420.571q0 7.429-5.714 13.143l-266.286 266.286q-5.714 5.714-13.143 5.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l28.571-28.571q5.714-5.714 13.143-5.714t13.143 5.714l224.571 224.571 224.571-224.571q5.714-5.714 13.143-5.714t13.143 5.714l28.571 28.571q5.714 5.714 5.714 13.143z')
    main#scroll-down-target(role='main')
      block content
    include /partials/footer/footer
    script(src='/code/bundle.js', async)
