- var page = data.slug.split('/').pop() || 'index'

doctype html
html(lang='en-us')
  head
    include /partials/head/head
    block head
  block vars
  body.body(class='#{body} #{page}')
    include /partials/nav
    if body === 'has-banner'
      include /partials/banner
    if body === 'has-topbar'
      include /partials/topbar
    main#scroll-down-target(role='main')
      block content
    include /partials/footer/footer
    script(src='/code/bundle.js', async)
