doctype html
html(lang='en-us')
  head
    include /partials/head/head
    block head
  body
    include /partials/nav
    block content
    include /partials/footer/footer
    script(src='/code/bundle.js', async)
