extends /base

block vars
  - body = 'has-banner'

block banner
  img.banner__img(src='/img/kunai-logo.png')
  h1.banner__title Code Kirei
  h2.banner__subtitle Clean design. Beautiful code.

block content
  section.index-posts
    each post in data.posts
      article.index-post(role='article')
        a.index-post__title(href= post.slug)
          h3!= post.title
        .index-post__date
          span posted:
          time.index-post__time.replace-time(datetime!= post.posted)!= post.date
        .index-post__preview!= post.preview
        a.index-post__read-button(href= post.slug) read post
        ul.index-post__tags
          each tag in post.tags
            li.index-post__tag!= tag
