extends /base

block head
  title!= data.title
  meta(name='description', content!= data.description)

block content
  include /partials/index-banner
  main#scroll-down-target(role='main')
    include /partials/index-posts
