extends /base

block vars
  - body = 'has-banner'

block banner
  img.banner__img(src='/img/kunai-logo.png')
  h1.banner__title Code Kirei
  h2.banner__subtitle Clean design. Beautiful code.

block content
  section.blog
    each post in data.posts
      article.post(role='article')
        a.post__title(href= post.slug)
          h3!= post.title
        p.post__date
          span posted:
          time.post__time.replace-time(datetime!= post.posted)!= post.date
        .post__preview!= post.preview
        a.post__read-button(href= post.slug) read post
        ul.post__tags
          each tag in post.tags
            li.post__tag!= tag
