extends /base.jade

block head
  title!= data.title
  meta(name='description', content!= data.description)

block content
  include /partials/page-banner.jade
  section#scroll-down-target(role='main')
    article.post(role='article')!= data.content
