extends /base.jade

block head
  title!= data.title
  meta(name='description', content!= data.description)

block content
  article.post(role='article')!= data.content
    img.fleuron(src='/img/kunai-fleuron.png', alt='fleuron')
  include /partials/post-author.jade
