doctype html
html(lang='en-us')
  head
    include /partials/head/head
    block head
  body.body.has-topbar
    include /partials/nav
    header.topbar(role='heading')
      .topbar__content
        block topbar
    main(role='main')
      block content
    include /partials/footer/footer
    script(src='/code/bundle.js', async)
