.tags
  margin-top rem(30px)
  a
    font-size rem(14px)
    color $primary
    display inline-block
    border 1px solid $primary
    border-radius rem(5px)
    padding rem(4px) rem(10px)
    margin-right rem(2px)
    margin-bottom rem(8px)
    text-decoration none
    &:hover
      color $primary--hover
      border 1px solid $primary--hover

.img-rounded
  border-radius 50%
