$toggleH = round($toggleW / 6)
$toggleHSm = round($toggleWSm / 6)
$toggleTransition = transform .2s ease-in-out

.menu-toggle
  position: absolute
  transition: $toggleTransition
  width: $toggleWSm
  left: $togglePosSm
  top: $togglePosSm
  m-y: $togglHSm
  +above($bp)
    width: $toggleW
    left: $togglePos
    top: $togglePos

  &__icon
  &:before
  &:after
    display: block
    transition: $toggleTransition
    width: 100%
    height: $toggleHSm
    border-radius: 2px
    background: white
    +above($bp)
      height: $toggleH

  &:before
  &:after
    content: ''

  &__icon
    m-y: $toggleHSm
    +above($bp)
      m-y: $toggleH

// state
//------------------------------------------------------------------------------
.menu-toggle--toggled
  transform: rotate(180deg)

  &:before
    transform: translateY($toggleHSm * 2)
    +above($bp)
      transform: translateY($toggleH * 2)

  &:after
    transform: translateY($toggleHSm * -2)
    +above($bp)
      transform: translateY($toggleH * -2)

  &__icon
    transform: scale(0)
