.site-footer
  width: 100%
  theme(white, $c.prime)

  &__content
    fxbx(y)
    p-y: $gap2

  &__divider
    b-n: 3px
    border-color: darken($c.prime, 40%)
    m-y: $gap2
    width: 40%
    max-width: 400px

  &__info
    display: block

  &__info-svg
    icon-hover()
    fill: white
    display: block
    size: 30px
    +above($bp)
      size: 40px
