.footer-nav
  &__list
    text-align: center
    list-style: none

  &__item
    display: block
    +above($bp)
      float: left
      line-height: 1
      display: inline
      &:not(:last-child)
        p-e: 3px
        b-e: 3px
        border-color: white
      &:not(:first-child)
        p-w: 3px

  &__link
    text-decoration: none
    color: white
    p-x: 10px
    transition: color 0.7s ease, background 0.7s ease
    &:hover
    &:focus
      color: $c.prime
      background: white
